<!-- SIDEBAR HEADER -->
<div class="header accent p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">

        <button mat-icon-button (click)="deleteVehicule(selected.id)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button class="" routerLink="/manager/mission/edit/{{selected.id}}" aria-label="Edit" matTooltip="Download">
            <mat-icon>edit</mat-icon>
        </button>


    </div>

    <div>
        <div class="title mb-8">{{selected.name}}</div>
        <div class="subtitle secondary-text">
            <span>Edited</span>
            <span>: {{selected.updatedAt}}</span>
        </div>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content p-24" fusePerfectScrollbar>

    <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms'}}">

        <div class="preview file-icon" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="type-icon s-48" [ngClass]="folder"></mat-icon>
        </div>

      <!--  <div class="offline-switch">
            <mat-slide-toggle [(ngModel)]="selected.offline" labelPosition="before">Available Offline</mat-slide-toggle>
        </div>-->

        <div class="title">Info</div>

        <table>
            <tr class="type">
                <th>id</th>
                <td>{{selected.id}}</td>
            </tr>

            <tr class="size">
                <th>nom</th>
                <td>{{selected.name === '' ? '-': selected.name}}</td>
            </tr>

            <tr class="location">
                <th>Catégorie</th>
                <td>{{selected.category === '' ? '-': selected.category}}</td>
            </tr>

            <tr class="owner">
                <th>Date de publication</th>
                <td>{{selected.kilometers === '' ? '-': selected.date | date:'MM/dd/yyyy'}}</td>
            </tr>

            <tr class="modified">
                <th>Description</th>
                <td>{{selected.description === '' ? '-': selected.description}}</td>
            </tr>

            <tr class="opened">
                <th>Auteur</th>
                <td>{{selected.author === '' ? '-': selected.author}}</td>
            </tr>
        </table>
    </div>

    <button mat-icon-button class="" routerLink="/manager/mission/detail/{{selected.id}}" aria-label="Edit" matTooltip="Download">
        <mat-icon>Plus de détails</mat-icon>
    </button>

</div>
<!-- / SIDEBAR CONTENT -->
