<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" src="assets/images/avatars/Velazquez.jpg"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Detail
            </div>
        </div>

     <!--   <div class="actions" fxLayout="row" fxLayoutAlign="end center" >
            <button mat-raised-button color="accent" aria-label="Follow">Follow</button>
            <button mat-raised-button color="primary" aria-label="Send Message">Send Message</button>
        </div>
-->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fxLayoutAlign="center"> 

        
        <div fxLayout="column" fxLayoutAlign="center">
            <div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                 <affiche-detail-book [book]="book" (editEvent)="edit($event)" (deleteEvent)="delete($event)"></affiche-detail-book>

            </div>
            

        </div>

    </div>
    <!-- / CONTENT -->

</div>
