<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<mat-table #table [dataSource]="dataSource" >



    <!-- Name Column -->
    <!-- <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef>Brand</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
    </ng-container> -->

    <!-- Type Column -->
    <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Title</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md> {{row.name}}</mat-cell>
    </ng-container>

    <!-- Owner Column -->
    <ng-container matColumnDef="kilometers">
        <mat-header-cell *matHeaderCellDef fxHide.xs>Genre</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs> {{row.category}}</mat-cell>
    </ng-container>

    <!-- Size Column -->
    <ng-container matColumnDef="acquisitionDate">
        <mat-header-cell *matHeaderCellDef fxHide.xs>Date of publication</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs>{{row.date  === '' ? '-': row.date | date}}</mat-cell>
    </ng-container>

    <!-- Modified Column -->
    <ng-container matColumnDef="fuelType">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Description</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.description}}</mat-cell>
    </ng-container>

    <!-- Modified Column -->
    <ng-container matColumnDef="fuelConsumptionUrban">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Author</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.author}}</mat-cell>
    </ng-container>

   

    <!-- Detail Button Column -->
    <ng-container matColumnDef="detail-button">
        <mat-header-cell *matHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                    (click)="toggleSidebar('file-manager-details-sidebar')">
                <mat-icon class="secondary-text">Details</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="onSelect(row)"
             [ngClass]="{'selected' : row == selected}"
             matRipple [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
